In [1]:
# Zamoto Analysis

# Import Libaries
import pandas as pd
import numpy as np

In [3]:
df_data = pd.read_csv("Clean Zamoto Data.csv")
print(df_data)

      Unnamed: 0           Restaurant Name              City  \
0              0          Le Petit Souffle       Makati City
1              1          Izakaya Kikufuji       Makati City
2              2    Heat - Edsa Shangri-La  Mandaluyong City
3              3                      Ooma  Mandaluyong City
4              4               Sambo Kojin  Mandaluyong City
...          ...                       ...               ...
9537        9546              NamlÛ± Gurme         ÛÁstanbul
9538        9547             Ceviz AÛôacÛ±         ÛÁstanbul
9539        9548                     Huqqa         ÛÁstanbul
9540        9549              Aôôk Kahve         ÛÁstanbul
9541        9550  Walter's Coffee Roastery         ÛÁstanbul

                                                Address  \
0     Third Floor, Century City Mall, Kalayaan Avenu...
1     Little Tokyo, 2277 Chino Roces Avenue, Legaspi...
2     Edsa Shangri-La, 1 Garden Way, Ortigas, Mandal...
3     Third Floor, Mega Fashion Hall, SM Megamall, O...
4     Third Floor, Mega Atrium, SM Megamall, Ortigas...
...                                                 ...
9537  Kemankeô Karamustafa Paôa Mahallesi, RÛ±htÛ±...
9538  Koôuyolu Mahallesi, Muhittin íìstí_ndaÛô Cadd...
9539  Kuruí_eôme Mahallesi, Muallim Naci Caddesi, N...
9540  Kuruí_eôme Mahallesi, Muallim Naci Caddesi, N...
9541  CafeaÛôa Mahallesi, BademaltÛ± Sokak, No 21/B,...

                                        Locality  \
0      Century City Mall, Poblacion, Makati City
1     Little Tokyo, Legaspi Village, Makati City
2     Edsa Shangri-La, Ortigas, Mandaluyong City
3         SM Megamall, Ortigas, Mandaluyong City
4         SM Megamall, Ortigas, Mandaluyong City
...                                          ...
9537                                    Karakí_y
9538                                   Koôuyolu
9539                                 Kuruí_eôme
9540                                 Kuruí_eôme
9541                                        Moda

                              Cuisines  Average Cost for two  \
0           French, Japanese, Desserts                  1100
1                             Japanese                  1200
2     Seafood, Asian, Filipino, Indian                  4000
3                      Japanese, Sushi                  1500
4                     Japanese, Korean                  1500
...                                ...                   ...
9537                           Turkish                    80
9538   World Cuisine, Patisserie, Cafe                   105
9539            Italian, World Cuisine                   170
9540                   Restaurant Cafe                   120
9541                              Cafe                    55

              Currency Has Table booking Has Online delivery  \
0     Botswana Pula(P)               Yes                  No
1     Botswana Pula(P)               Yes                  No
2     Botswana Pula(P)               Yes                  No
3     Botswana Pula(P)                No                  No
4     Botswana Pula(P)               Yes                  No
...                ...               ...                 ...
9537  Turkish Lira(TL)                No                  No
9538  Turkish Lira(TL)                No                  No
9539  Turkish Lira(TL)                No                  No
9540  Turkish Lira(TL)                No                  No
9541  Turkish Lira(TL)                No                  No

     Is delivering now Switch to order menu  Price range  Aggregate rating  \
0                   No                   No            3               4.8
1                   No                   No            3               4.5
2                   No                   No            4               4.4
3                   No                   No            4               4.9
4                   No                   No            4               4.8
...                ...                  ...          ...               ...
9537                No                   No            3               4.1
9538                No                   No            3               4.2
9539                No                   No            4               3.7
9540                No                   No            4               4.0
9541                No                   No            2               4.0

     Rating color Rating text  Votes      Country
0      Dark Green   Excellent    314  Phillipines
1      Dark Green   Excellent    591  Phillipines
2           Green   Very Good    270  Phillipines
3      Dark Green   Excellent    365  Phillipines
4      Dark Green   Excellent    229  Phillipines
...           ...         ...    ...          ...
9537        Green   Very Good    788       Turkey
9538        Green   Very Good   1034       Turkey
9539       Yellow        Good    661       Turkey
9540        Green   Very Good    901       Turkey
9541        Green   Very Good    591       Turkey

[9542 rows x 18 columns]

In [7]:
#check the datatype
df_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9542 entries, 0 to 9541
Data columns (total 18 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Unnamed: 0            9542 non-null   int64
 1   Restaurant Name       9542 non-null   object
 2   City                  9542 non-null   object
 3   Address               9542 non-null   object
 4   Locality              9542 non-null   object
 5   Cuisines              9542 non-null   object
 6   Average Cost for two  9542 non-null   int64
 7   Currency              9542 non-null   object
 8   Has Table booking     9542 non-null   object
 9   Has Online delivery   9542 non-null   object
 10  Is delivering now     9542 non-null   object
 11  Switch to order menu  9542 non-null   object
 12  Price range           9542 non-null   int64
 13  Aggregate rating      9542 non-null   float64
 14  Rating color          9542 non-null   object
 15  Rating text           9542 non-null   object
 16  Votes                 9542 non-null   int64
 17  Country               9542 non-null   object
dtypes: float64(1), int64(4), object(13)
memory usage: 1.3+ MB

In [9]:
# Check the Null Values
print(df_data.isnull().sum())

Unnamed: 0              0
Restaurant Name         0
City                    0
Address                 0
Locality                0
Cuisines                0
Average Cost for two    0
Currency                0
Has Table booking       0
Has Online delivery     0
Is delivering now       0
Switch to order menu    0
Price range             0
Aggregate rating        0
Rating color            0
Rating text             0
Votes                   0
Country                 0
dtype: int64

In [11]:
# the top 5 rows of sales data
print(df_data.head(10))

   Unnamed: 0                           Restaurant Name              City  \
0           0                          Le Petit Souffle       Makati City
1           1                          Izakaya Kikufuji       Makati City
2           2                    Heat - Edsa Shangri-La  Mandaluyong City
3           3                                      Ooma  Mandaluyong City
4           4                               Sambo Kojin  Mandaluyong City
5           5                              Din Tai Fung  Mandaluyong City
6           6                                Buffet 101        Pasay City
7           7                                   Vikings        Pasay City
8           8  Spiral - Sofitel Philippine Plaza Manila        Pasay City
9           9                                  Locavore        Pasig City

                                             Address  \
0  Third Floor, Century City Mall, Kalayaan Avenu...
1  Little Tokyo, 2277 Chino Roces Avenue, Legaspi...
2  Edsa Shangri-La, 1 Garden Way, Ortigas, Mandal...
3  Third Floor, Mega Fashion Hall, SM Megamall, O...
4  Third Floor, Mega Atrium, SM Megamall, Ortigas...
5  Ground Floor, Mega Fashion Hall, SM Megamall, ...
6  Building K, SM By The Bay, Sunset Boulevard, M...
7  Building B, By The Bay, Seaside Boulevard, Mal...
8  Plaza Level, Sofitel Philippine Plaza Manila, ...
9  Brixton Technology Center, 10 Brixton Street, ...

                                          Locality  \
0        Century City Mall, Poblacion, Makati City
1       Little Tokyo, Legaspi Village, Makati City
2       Edsa Shangri-La, Ortigas, Mandaluyong City
3           SM Megamall, Ortigas, Mandaluyong City
4           SM Megamall, Ortigas, Mandaluyong City
5           SM Megamall, Ortigas, Mandaluyong City
6  SM by the Bay, Mall of Asia Complex, Pasay City
7  SM by the Bay, Mall of Asia Complex, Pasay City
8      Sofitel Philippine Plaza Manila, Pasay City
9                                        Kapitolyo

                             Cuisines  Average Cost for two          Currency  \
0          French, Japanese, Desserts                  1100  Botswana Pula(P)
1                            Japanese                  1200  Botswana Pula(P)
2    Seafood, Asian, Filipino, Indian                  4000  Botswana Pula(P)
3                     Japanese, Sushi                  1500  Botswana Pula(P)
4                    Japanese, Korean                  1500  Botswana Pula(P)
5                             Chinese                  1000  Botswana Pula(P)
6                     Asian, European                  2000  Botswana Pula(P)
7  Seafood, Filipino, Asian, European                  2000  Botswana Pula(P)
8             European, Asian, Indian                  6000  Botswana Pula(P)
9                            Filipino                  1100  Botswana Pula(P)

  Has Table booking Has Online delivery Is delivering now  \
0               Yes                  No                No
1               Yes                  No                No
2               Yes                  No                No
3                No                  No                No
4               Yes                  No                No
5                No                  No                No
6               Yes                  No                No
7               Yes                  No                No
8               Yes                  No                No
9               Yes                  No                No

  Switch to order menu  Price range  Aggregate rating Rating color  \
0                   No            3               4.8   Dark Green
1                   No            3               4.5   Dark Green
2                   No            4               4.4        Green
3                   No            4               4.9   Dark Green
4                   No            4               4.8   Dark Green
5                   No            3               4.4        Green
6                   No            4               4.0        Green
7                   No            4               4.2        Green
8                   No            4               4.9   Dark Green
9                   No            3               4.8   Dark Green

  Rating text  Votes      Country
0   Excellent    314  Phillipines
1   Excellent    591  Phillipines
2   Very Good    270  Phillipines
3   Excellent    365  Phillipines
4   Excellent    229  Phillipines
5   Very Good    336  Phillipines
6   Very Good    520  Phillipines
7   Very Good    677  Phillipines
8   Excellent    621  Phillipines
9   Excellent    532  Phillipines

In [13]:
print(df_data.describe())

        Unnamed: 0  Average Cost for two  Price range  Aggregate rating  \
count  9542.000000           9542.000000  9542.000000       9542.000000
mean   4779.244184           1200.326137     1.804968          2.665238
std    2755.110039          16128.743876     0.905563          1.516588
min       0.000000              0.000000     1.000000          0.000000
25%    2394.250000            250.000000     1.000000          2.500000
50%    4779.500000            400.000000     2.000000          3.200000
75%    7164.750000            700.000000     2.000000          3.700000
max    9550.000000         800000.000000     4.000000          4.900000

              Votes
count   9542.000000
mean     156.772060
std      430.203324
min        0.000000
25%        5.000000
50%       31.000000
75%      130.000000
max    10934.000000

In [15]:
print(df_data.duplicated().sum())

0

In [17]:
print(df_data.columns)

Index(['Unnamed: 0', 'Restaurant Name', 'City', 'Address', 'Locality',
       'Cuisines', 'Average Cost for two', 'Currency', 'Has Table booking',
       'Has Online delivery', 'Is delivering now', 'Switch to order menu',
       'Price range', 'Aggregate rating', 'Rating color', 'Rating text',
       'Votes', 'Country'],
      dtype='object')

In [19]:
#check the datatype
print(df_data.dtypes)

print(df_data.shape)

Unnamed: 0                int64
Restaurant Name          object
City                     object
Address                  object
Locality                 object
Cuisines                 object
Average Cost for two      int64
Currency                 object
Has Table booking        object
Has Online delivery      object
Is delivering now        object
Switch to order menu     object
Price range               int64
Aggregate rating        float64
Rating color             object
Rating text              object
Votes                     int64
Country                  object
dtype: object
(9542, 18)

THANKS YOU